<h1 class="animated fadeIn fast">Sobre Condones Protex</h1>
<hr>
<p class="animated fadeIn">
    Un preservativo, profiláctico o condón es un dispositivo de barrera con forma de funda utilizado durante una relación sexual para reducir la probabilidad de embarazo o el contagio de infecciones de transmisión sexual (ITS).2​ Existen preservativos masculinos
    y femeninos.3​ Con un uso correcto en cada coito, las mujeres cuyas parejas usan condones masculinos experimentan una tasa de embarazo anual de 2 %.2​ Con un uso típico la tasa de embarazo anual es 18 %.4​ Su uso disminuye enormemente el riesgo de
    gonorrea, clamidia, tricomoniasis, hepatitis B y VIH/sida. En menor medida, también protege contra el herpes genital, el virus del papiloma humano y la sífilis.2​
</p>